<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row">
        <h2><span class="label label-default">Stats</span></h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Acuity</label>
          <p>3d6</p>
        </div>
        <div class="col-md-6">
          <label>Body</label>
          <p>2d6</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Heart</label>
          <p>5d6</p>
        </div>
        <div class="col-md-6">
          <label>Will</label>
          <p>5d6</p>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <h2><span class="label label-default">Traits</span></h2>
    </li>
    <li class="list-group-item">
      <h2><span class="label label-default">Relationships</span></h2>
    </li>
  </ul>
</div>
